In [ ]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from sklearn import datasets
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge, Lasso, ElasticNet

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#데이터불러오기
df = pd.read_csv("/content/drive/My Drive/부실기업예측 프로젝트/data/variable.csv", encoding="utf-8")

In [ ]:
df.head()

   Unnamed: 0      name  code  year  ...     ge   croe       cpb  bankrupt
0           0  (주)대유플러스   300  2011  ...  388.0 -10.56  0.669980         0
1           1  (주)대유플러스   300  2012  ...  448.0 -11.56 -0.812564         0
2           2  (주)대유플러스   300  2013  ...  502.0  19.23 -0.207904         0
3           3  (주)대유플러스   300  2014  ...  158.0 -11.49 -0.061619         0
4           4  (주)대유플러스   300  2015  ...  173.0  -0.83 -0.029684         0

[5 rows x 17 columns]

In [ ]:
#변수선정
X = df[['x1','x2','x3','x4','x5','om','ga','gs','ge','croe','cpb']]
y = df['bankrupt']
print('Data View')
display(pd.concat([pd.DataFrame(y, columns=["Bankrupt"]), pd.DataFrame(X, columns=X.columns)], axis=1).head())

Data View

  Bankrupt        x1        x2        x3  ...           gs     ge   croe       cpb
0      NaN -0.027601  0.013323  0.020035  ...  334908920.0  388.0 -10.56  0.669980
1      NaN  0.049332 -0.012951 -0.003058  ...  379402053.0  448.0 -11.56 -0.812564
2      NaN  0.094337 -0.006652  0.038567  ...  423640918.0  502.0  19.23 -0.207904
3      NaN  0.047961 -0.019832  0.021306  ...  501739481.0  158.0 -11.49 -0.061619
4      NaN  0.041981 -0.028575  0.021317  ...  495781660.0  173.0  -0.83 -0.029684

[5 rows x 12 columns]

In [ ]:
alpha_weight = 0.5
fit = Lasso(alpha=alpha_weight, fit_intercept=True, normalize=True, random_state=123).fit(X, y)
pd.DataFrame(np.hstack([fit.intercept_, fit.coef_]), columns=['alpha = {}'.format(alpha_weight)])

In [ ]:
#Ridge
alpha_weight = 0.5
fit = Ridge(alpha=alpha_weight, fit_intercept=True, normalize=True, random_state=123).fit(X, y)
pd.DataFrame(np.hstack([fit.intercept_, fit.coef_]), columns=['alpha = {}'.format(alpha_weight)])

     alpha = 0.5
0   3.345201e-02
1  -3.682067e-02
2  -2.892676e-02
3  -9.091986e-02
4   5.664837e-05
5   2.793051e-03
6  -2.952616e-02
7   2.991459e-14
8   1.914398e-14
9  -1.176054e-07
10 -1.102136e-04
11 -8.785260e-04

In [10]:
#Lasso
alpha_weight = 0.01
fit = Lasso(alpha=alpha_weight, fit_intercept=True, normalize=True, random_state=123).fit(X, y)
pd.DataFrame(np.hstack([fit.intercept_, fit.coef_]), columns=['alpha = {}'.format(alpha_weight)])

    alpha = 0.01
0       0.025641
1      -0.000000
2      -0.000000
3      -0.000000
4      -0.000000
5       0.000000
6      -0.000000
7      -0.000000
8      -0.000000
9      -0.000000
10     -0.000000
11     -0.000000

In [ ]:
# Elastic
fit = Ridge(alpha=0.5, fit_intercept=True, normalize=True, random_state=123).fit(X, y)
pred_tr = fit.predict(X)
pred_te = fit.predict(X)

In [ ]:
pred_tr

array([0.03331236, 0.0361474 , 0.02484097, ..., 0.01726449, 0.01894508,
       0.02022006])